@import './base.css';

#app {
  /* max-width: 1280px; */
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  font-weight: normal;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1320px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--grey);
  transition: 0.15s;
}

a:hover {
  color: var(--purple);
}

hr {
  display: block;
  height: 1px;
  width: 100vw;
  border: 0;
  border-top: 1px solid var(--ghost-grey);
  margin: 1em 0;
  padding: 0;
}

.container {
  padding-left: 36px;
  padding-right: 36px;

  @media screen and (max-width: 510px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* border: blue 1px solid; */

}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-family: 'Xolonium', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 3.2rem;
  letter-spacing: 1.5px;

  
  @media screen and (max-width: 767px) {
    font-size: 36px;
    line-height: 2.4rem;
  }

  @media screen and (max-width: 510px) {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0;
  }
}

h2 {
  color: white;
  font-family: 'Xolonium', sans-serif;
  font-weight: 400;
  font-size: 40px;
  @media screen and (max-width: 510px) {
    font-size: 30px;
  }
}

h3 {
  color: white;
  font-family: 'Xolonium', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55rem;
  
  @media screen and (max-width: 510px) {
    font-size: 16px;
    line-height: normal;
  }
}

h4 {
  color: white;
  font-family: 'Xolonium', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h5 {
  color: white;
  font-family: 'Xolonium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
}

p {
  font-family: 'JuraMedium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2rem;

  @media screen and (max-width: 510px) {
    font-size: 14px;
    line-height: 1rem;
  }
}


.svg-hover:hover path {
  transition: 0.15s ease-in-out;
  fill: var(--purple);
}
.svg-hover:not(hover) path {
      transition: 0.15s ease-in-out;
      fill: var(--dark-grey)
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

button:active {
  filter: brightness(85%)
}

button:disabled {
  filter:brightness(50%);
  cursor: default !important; 
}

*::selection {
  background: var(--purple);
  color: #ffffff;
}
*::-moz-selection {
  background: var(--purple);
  color: #ffffff;
}
*::-webkit-selection {
  background: var(--purple);
  color: #ffffff;
}

.color-caption {
  text-transform: uppercase;
  color: var(--purple);
  font-family: 'Xolonium';
}

.base-box {
  background-color: var(--dark);
  border: 1px solid var(--ghost-grey);
  border-radius: 8px;
}

.gradient-hover {
  position: relative;
  z-index: 1;
}

.gradient-hover::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(172,80,242);
  background: linear-gradient(270deg, #281c42 1.97%, rgba(54, 22, 121, 0) 108.44%);
  transition: opacity 0.15s linear;
  z-index: -1;
  opacity: 0;

  border-radius: inherit;
}

.gradient-hover:hover::before {
  opacity: 1;
}


.hover {
  transition: 0.15s ease-in-out;
}

.hover:hover {
  color: var(--purple);
  cursor: pointer;
}

.y-line {
  width: 2px;
  min-height: 100%;
  min-height: 20px;
  border-left: 2px solid var(--ghost-grey);
}

.rot {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
 }

 .error {
  color: red;
  font-weight: bold;
 }

.overlay-hover {
  transition: 0.2s;
}
 .overlay-hover:hover {
    filter: brightness(70%);
 }

 .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.7);
  opacity: 0.7;
 }